@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 30px;
}
.navbar .nav-container .nav-list li {
  margin-left: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.navbar .nav-container .nav-list li:hover {
  border-bottom-width: 1px;
}
.navbar .nav-Mobile-Menu .close-side-nav {
  position: fixed;
  left: -100%;
  top: 0px;
  padding: 2.5rem;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 500ms;
}
.navbar .nav-Mobile-Menu .open-side-nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 75%;
  height: 100vh;
  --tw-bg-opacity: 1;
  padding: 2.5rem;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 500ms;
}
.navbar .nav-Mobile-Menu .open-side-nav .side-nav-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-Mobile-Menu .open-side-nav .main-nav-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.navbar .nav-Mobile-Menu .open-side-nav .main-nav-bar .list-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.navbar .nav-Mobile-Menu .open-side-nav .close-btn {
  border-radius: 9999px;
  padding: 0.75rem;
  cursor: pointer;
}
.navbar .nav-Mobile-Menu .open-side-nav .side-nav-list {
  text-transform: uppercase;
}
.navbar .nav-Mobile-Menu .open-side-nav .side-nav-list li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.navbar .nav-Mobile-Menu.open-side-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(12, 11, 11, 0.597);
}

.main {
  width: 100%;
  height: 100vh;
  text-align: center;
}
.main .main-container {
  max-width: 1240px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-container h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main .main-container p {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main .main-container .connect-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  max-width: 330px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.connect-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  max-width: 330px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.about {
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;
  display: flex;
  padding: 0.5rem;
  width: 100%;
}
.about .about-container {
  max-width: 1240px;
  gap: 2rem;
  margin: auto;
}
.about .about-container p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.about .about-container h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.about .about-container .img-container {
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.skills {
  width: 100%;
  padding: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.ProjectItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  border-radius: 0.75rem;
}
.ProjectItem p {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}
.ProjectItem .info-btn {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-left: 1.5rem;
  color: white;
}

.projects {
  width: 100%;
}
.projects .projects-container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.projects .projects-container .title-projects {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5651e5;
}
.projects .projects-container h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact {
  width: 100%;
}
.contact .contact-container {
  max-width: 2560;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.Project-item {
  width: 100%;
}
.Project-item .background-container {
  position: relative;
  height: 50vh;
  width: 100vw;
}
.Project-item .background-container .background-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  z-index: 10;
}
.Project-item .background-container .background-image .image {
  position: absolute;
}
.Project-item .background-container .background-title {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  right: 50%;
  left: 50%;
  top: 70%;
  width: 100%;
  max-width: 1240px;
  position: absolute;
  padding: 0.5rem;
  z-index: 10;
  color: white;
}
.Project-item .details-container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  display: grid;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
html {
  scroll-behavior: smooth !important;
  font-family: "Raleway", sans-serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }
  h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway];
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }
  li {
    @apply cursor-pointer;
  }
}/*# sourceMappingURL=globals.css.map */