$linkColor: #1f2937;
.navbar {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 30px;
    .nav-list {
      color: $linkColor;
      li {
        margin-left: 2.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        &:hover {
          border-bottom-width: 1px;
        }
      }
      .nav-btn {
        color: $linkColor;
      }
    }
  }
}
