.skills {
  width: 100%;
  padding: 0.5rem /* 8px */;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  padding-top: 8rem /* 64px */;
  padding-bottom: 4rem /* 64px */;
  margin-left: auto;
  margin-right: auto;
}
